/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}


/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    object-fit: cover;
    width: 100%;
}
figure{
    margin: 0 0 0.5rem 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border: 10px solid var(--color6);
}
figcaption{
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0%;
    opacity: 0.5;
    background-color: white;
}
figcaption a{
    text-decoration: none;
    color: black;
}

/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    li {
        flex-basis: 49.5%;
    }
    img {
        object-position: 0;
    }
}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
    li{
        flex-basis: 32.67%
    }
}